<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.anzix.callcost"
          android:versionCode="2"
          android:versionName="1.1">
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="CallLogActivity" android:label="Call log"/>
        <activity android:name="PlanActivity" android:label="Offer"/>
        <activity android:name="MyPreferencesActivity" android:label="Preferences"/>
        
    </application>
</manifest> 
